<!doctype html>
<html>
<head>
    <title><%= locals.title %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Company Web Solutions">
    <meta name="keywords" content="Company Web Solutions">
    <link href="/public/css/core.min.css" rel="stylesheet">
    <link href="/public/css/thesaas.min.css" rel="stylesheet">
    <link href="/public/css/styles.css" rel="stylesheet">
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <style type="text/css">
        body.disable-scroll {
          overflow-y: hidden;
        }

        body.enable-scroll {
          overflow-y: scroll;
        }
    </style>
</head>
<body>
<div class="container-fluid" style="padding:0px;">
	<!-- THIS IS THE BANNER -->
	<%- include("templates/header.ejs") %>
	<!-- END BANNER -->

	<!-- THIS IS THE NAVBAR -->
	<%- include("../templates/navbar.ejs") %>

    <!-- THIS IS THE ABOUT US SECTION -->
	<%- include("templates/about-us.ejs") %>
    <!-- // END OF ABOUT US SECTION -->

    <section class="section section-inverse" style="background-image: url(public/images/Gallery4.jpg); border-bottom: 5px solid #212121;" data-overlay="6">
        <div class="container">
            <div class="col-12 col-md-12 text-center">
                <h4 class="mb-0">WANT TO KNOW MORE ABOUT ME?</h4><hr width="50px;">
                <button class="btn btn-default">
                    <a href="#" data-scrollto="section-more-about" class="text-gray-dark">
                        CHECK ME OUT <span class="fa fa-arrow-down"></span>
                    </a>
                </button> 
            </div>
        </div>
    </section>

    <!-- THIS IS THE ABOUT US SECTION -->
    <%- include("templates/about-me.ejs") %>
    <!-- // END OF ABOUT US SECTION -->

    <section class="section section-inverse" style="background-image: url(public/images/Gallery2.jpg); border-bottom: 5px solid #212121;" data-overlay="6">
        <div class="container">
            <div class="col-12 col-md-12 text-center">
                <h4 class="mb-0">EXPLORE MY WORKS HERE!</h4><hr width="50px;">
                <button class="btn btn-default">
                    <a href="#" data-scrollto="section-gallery" class="text-gray-dark">
                        View Gallery <span class="fa fa-arrow-down"></span>
                    </a>
                </button> 
            </div>
        </div>
    </section>

    <!-- THIS IS THE OUR TESTIMONIALS SECTION -->
    <%- include("templates/gallery.ejs") %>
    <!-- // END OF OUR TESTIMONIALS SECTION -->


    <section class="section section-inverse" style="background-image: url(public/images/Gallery.jpg); border-bottom: 5px solid #212121;" data-overlay="6">
        <div class="container">
            <div class="col-12 col-md-12 text-center">
                <h4 class="mb-0">DO YOU WANT TO CREATE A RESERVATION?</h4><hr width="50px;">
                <button class="btn btn-default">
                    <a href="#" data-scrollto="section-contactus" class="text-gray-dark"> Send me a mail 
                    <span class="fa fa-arrow-down"></a>
                </button> 
            </div>
        </div>
    </section>

    <%- include("templates/album-data.ejs") %>

    <!-- THIS IS THE CONTACT US SECTION -->
    <%- include("templates/contact-me.ejs") %>
    <!-- // END OF THE CONTACT US SECTION -->
</div>
<%- include("../templates/footer.ejs") %>
<script src="/public/javascript/core.min.js"></script>
<script src="/public/javascript/thesaas.min.js"></script>
</body>
</html>