<!doctype html>
<html>
<head>
    <title><%= locals.title %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Photography Website">
    <meta name="keywords" content="Photography Website">

    <link href="/public/css/core.min.css" rel="stylesheet">
    <link href="/public/css/thesaas.min.css" rel="stylesheet">
    <link href="/public/css/styles.css" rel="stylesheet">
    <link href="/css/hover.css" rel="stylesheet">
    <link href="/css/aos.css" rel="stylesheet">
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/aos.js"></script>
    <style type="text/css">
        
    </style>
</head>
<body>
<div class="container-fluid" style="padding:0px;">
	<!-- THIS IS THE BANNER -->
	<%- include("templates/header.ejs") %>
	<!-- END BANNER -->

	<!-- THIS IS THE NAVBAR -->
	<%- include("../templates/navbar.ejs") %>

    <!-- THIS IS THE ABOUT US SECTION -->
	<%- include("templates/about-us.ejs") %>
    <!-- // END OF ABOUT US SECTION -->

    <section class="section section-inverse bg-img hidden-sm-down" style="background-image: url(public/images/Gallery2.jpg); border-bottom: 5px solid #212121;" data-overlay="5">
        <div class="container">
            <div class="col-12 col-md-12 text-center pt-80">
                <h4 data-aos="fade-up" data-aos-duration="700" class="mb-0 text-white">WANT TO KNOW MORE ABOUT ME?</h4><hr width="50px;">
                <a href="#" data-scrollto="section-more-about" class="btn btn-glass btn-hover-all hvr-hang">
                    CHECK ME OUT
                </a>
            </div>
        </div>
    </section>

    <section class="section section-inverse hidden-sm-up" style="background-image: url(public/images/Gallery2.jpg);" data-overlay="6">
        <div class="container">
            <div class="col-12 col-md-12 text-center">
                <h4 data-aos="fade-up" data-aos-duration="700" class="mb-0 text-white">WANT TO KNOW MORE ABOUT ME?</h4><hr width="50px;">
                <a href="#" data-scrollto="section-more-about" class="btn btn-glass btn-hover-all hvr-hang btn-block">
                    CHECK ME OUT
                </a> 
            </div>
        </div>
    </section>

    <!-- THIS IS THE ABOUT US SECTION -->
    <%- include("templates/about-me.ejs") %>
    <!-- // END OF ABOUT US SECTION -->

    <section class="section section-inverse hidden-sm-down" style="background-image: url(public/images/Gallery4.jpg); " data-overlay="6" >
        <div class="container">
            <div class="col-12 col-md-12 text-center">
                <h4 data-aos="fade-up" data-aos-duration="700" class="mb-0">EXPLORE MY WORKS HERE!</h4><hr width="50px;">
                    <a href="#" data-scrollto="section-gallery" class="btn btn-glass btn-hover-all hvr-hang">
                        View Gallery 
                    </a>
            </div>
        </div>
    </section>

    <section class="section section-inverse hidden-sm-up" style="background-image: url(public/images/Gallery4.jpg); " data-overlay="6" >
        <div class="container">
            <div class="col-12 col-md-12 text-center">
                <h4 data-aos="fade-up" data-aos-duration="700" class="mb-0">EXPLORE MY WORKS HERE!</h4><hr width="50px;">
                    <a href="#" data-scrollto="section-gallery" class="btn btn-glass btn-hover-all hvr-hang btn-block">
                        View Gallery 
                    </a>
            </div>
        </div>
    </section>

    <!-- THIS IS THE OUR TESTIMONIALS SECTION -->
    <%- include("templates/gallery.ejs") %>
    <!-- // END OF OUR TESTIMONIALS SECTION -->


    <section class="section section-inverse bg-img hidden-sm-down" style="background-image: url(public/images/Gallery6.jpg); border-bottom: 5px solid #212121;" data-overlay="5">
        <div class="container  pt-80">
            <div class="col-12 col-md-12 text-center">
                <h4 data-aos="fade-up" data-aos-duration="700" class="mb-0">DO YOU WANT TO CREATE A RESERVATION?</h4><hr width="50px;">
                <a href="#" data-scrollto="section-contactus" class="btn btn-glass btn-hover-all hvr-hang"> Send me a mail 
                </a>
            </div>
        </div>
    </section>

    <section class="section section-inverse hidden-sm-up" style="background-image: url(public/images/Gallery6.jpg); border-bottom: 5px solid #212121;" data-overlay="6">
        <div class="container  pt-80">
            <div class="col-12 col-md-12 text-center">
                <h4 data-aos="fade-up" data-aos-duration="700" class="mb-0">DO YOU WANT TO CREATE A RESERVATION?</h4><hr width="50px;">
                <a href="#" data-scrollto="section-contactus" class="btn btn-glass btn-hover-all hvr-hang btn-block"> Send me a mail</a>
            </div>
        </div>
    </section>

    <%- include("templates/album-data.ejs") %>

    <section id="section-contactus">
         
    </section>

    <!-- THIS IS THE CONTACT US SECTION -->
    <%- include("templates/contact-me.ejs") %>
    <!-- // END OF THE CONTACT US SECTION -->

    <%- include("../templates/footer.ejs") %>
</div>

<script src="/public/javascript/core.min.js"></script>
<script src="/public/javascript/thesaas.min.js"></script>

</body>
</html>