<!doctype html>
<html>
<head>
    <title><%= locals.title %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Company Web Solutions">
    <meta name="keywords" content="Company Web Solutions">
    <link href="/public/css/core.min.css" rel="stylesheet">
    <link href="/public/css/thesaas.min.css" rel="stylesheet">
    <link href="/public/css/styles.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid" style="padding:0px;">
	<!-- THIS IS THE BANNER -->
	<%- include("templates/header.ejs") %>
	<!-- END BANNER -->

	<!-- THIS IS THE NAVBAR -->
	<%- include("../templates/navbar.ejs") %>

    <!-- THIS IS THE ABOUT US SECTION -->
	<%- include("templates/about-us.ejs") %>
    <!-- // END OF ABOUT US SECTION -->

    <section class="section section-inverse" style="background-image: url(public/images/Gallery4.jpg);" data-overlay="6">
        <div class="container">
            <div class="col-12 col-md-12 text-center">
                <h4 class="mb-0">WANT TO KNOW MORE ABOUT ME?</h4><hr width="50px;">
                <button class="btn btn-default">
                    <a href="#" data-scrollto="section-more-about" class="text-gray-dark">
                        CHECK ME OUT <span class="fa fa-arrow-down"></span>
                    </a>
                </button> 
            </div>
        </div>
    </section>

    <!-- THIS IS THE ABOUT US SECTION -->
    <%- include("templates/about-me.ejs") %>
    <!-- // END OF ABOUT US SECTION -->

    <section class="section section-inverse" style="background-image: url(public/images/Gallery.jpg);" data-overlay="6">
        <div class="container">
            <div class="col-12 col-md-12 text-center">
                <h4 class="mb-0">EXPLORE MY WORKS HERE!</h4><hr width="50px;">
                <button class="btn btn-default">
                    <a href="#" data-scrollto="section-gallery" class="text-gray-dark">
                        View Gallery <span class="fa fa-arrow-down"></span>
                    </a>
                </button> 
            </div>
        </div>
    </section>

    <!-- THIS IS THE OUR TESTIMONIALS SECTION -->
    <%- include("templates/gallery.ejs") %>
    <!-- // END OF OUR TESTIMONIALS SECTION -->


    <section class="section section-inverse" style="background-image: url(public/images/Gallery3.jpg)" data-overlay="6">
        <div class="container">
            <div class="col-12 col-md-12 text-center">
                <h4 class="mb-0">DO YOU WANT TO CREATE A RESERVATION?</h4><hr width="50px;">
                <button class="btn btn-default">
                    <a href="#" data-scrollto="section-contactus" class="text-gray-dark"> Send me a mail 
                    <span class="fa fa-arrow-down"></a>
                </button> 
            </div>
        </div>
    </section>

    <!-- THIS IS THE CONTACT US SECTION -->
    <section class="section" id="section-contactus">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12 col-sm-12 text-center">
                        <h2>CONTACT US</h2><hr class="w-50 hidden-sm-down">
                        <h4><b>Get in touch via contact form or email me directly</b></h4>
                        <p>I will get back to you as soon as possible</p>
                        <hr>
                    </div>  
                    
                    <div class="row">
                        <div class="col-md-8 col-sm-8" >
                            <form class="form-horizontal" action='/' method='post'>
                                <fieldset>
                                    <div class="form-group">
                                      <label for="inputSubject" class="col-md-2 control-label">Subject:</label>
                                      <div class="col-md-12">
                                        <input type="text" class="form-control" id="inputSubject" name='subject' placeholder="Subject" required>
                                      </div>
                                    </div>
                                    <hr>
                                    <div class="form-group">
                                      <label for="name" class="col-md-2 control-label">Full Name:</label>
                                      <div class="col-md-12">
                                        <input type="text" class="form-control" id="name" name='name' placeholder="From" required>
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label for="email" class="col-md-2 control-label">Email:</label>
                                      <div class="col-md-12">
                                        <input type="text" class="form-control" id="email" name='email' placeholder="Email" required>
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label for="message" class="col-md-2 control-label">Message:</label>
                                      <div class="col-md-12">
                                        <textarea class="form-control" rows="3" id="message" name='message' required></textarea>
                                      </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                      <div class="col-md-12 text-center hidden-sm-down">
                                        <button class="px-50 py-5" type="reset" style="color: #ffffff; background-color: #d82d48; border-color: transparent;">Reset</button>
                                        <button class="px-50 py-5" type="submit" style="color: #ffffff; background-color: #2c3e50; border-color: transparent;">Submit</button>
                                      </div>

                                      <div class="col-md-12 text-center hidden-sm-up">
                                        <button class="px-50 py-5 btn-block" type="reset" style="color: #ffffff; background-color: #d82d48; border-color: transparent;">Reset</button>
                                        <button class="px-50 py-5 btn-block" type="submit" style="color: #ffffff; background-color: #2c3e50; border-color: transparent;">Submit</button>
                                      </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="col-md-4 col-sm-4 text-center" >
                            <div>
                                <h3><strong>Where To Meet?</strong> </h3>
                            </div>
                            <!-- Personal Info -->
                            <div style="color: #515557;">
                                <p>Lucban Quezon</p>
                                <p>Quezon Philippines</p>
                            </div>
                            <hr>
                            <div>
                                <h3><strong>Say Hello</strong> </h3>
                            </div>
                            <!-- Personal Info -->
                            <div style="color: #515557;">
                                <p><strong>Email: </strong> some_email@gmail.com</p>
                                <p><strong>Phone: </strong>+639-19-589-5787</p>
                            </div>
                            <hr>

                            <div>
                                <p><a href='#'>Google Maps <span class="glyphicon glyphicon-arrow-right"></span></a></p>
                                <img src="/public/images/Google-Maps-icon.png" width="100" />
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </section>
    <!-- // END OF THE CONTACT US SECTION -->
</div>
<%- include("../templates/footer.ejs") %>
<script src="/public/javascript/core.min.js"></script>
<script src="/public/javascript/thesaas.min.js"></script>
</body>
</html>